{% extends "layout.html" %} {% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Planning</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="card " style="width: 18rem; margin: 1em;">
            <img src="{{ url_for('static', filename='planners.png') }}" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Central Planners Report</h5>
                <p class="card-text">Central Planners Report</p>
                <a href="{{ url_for('PCPR') }}" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card " style="width: 18rem; margin: 1em;">
            <img src="{{ url_for('static', filename='KPI.jpg') }}" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">MTY KPI Planning</h5>
                <p class="card-text">KPI Planning</p>
                <a href="{{ url_for('PKPI') }}" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>
</div>
{% endblock %}