{% extends "layout.html" %} {% block content %}

<div class="jumbotron">
    <h1 class="display-4">RH</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=27c4a4ff-f21b-439d-8b87-1078f01ccf16&groupId=56c8c7c1-9482-45e0-9bb8-153271029fb9&autoAuth=true&ctid=85f78c4c-ad11-4735-9624-0b2c11611dff&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQifQ%3D%3D"
    frameborder="0" allowFullScreen="true"></iframe> {% endblock %}