{% extends "layout.html" %} {% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Recursos Humanos</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="card " style="width: 18rem; margin: 1em;">
            <img src="{{ url_for('static', filename='Libro Azul Portada.jpg') }}" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Retos Libro Azul Vista Empleado</h5>
                <p class="card-text">Resultados de Retos del Libro Azul.</p>
                <a href="{{ url_for('HRBBEV') }}" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card " style="width: 18rem; margin: 1em;">
            <img src="{{ url_for('static', filename='Libro Azul Portada.jpg') }}" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Retos Libro Azul Vista Manager</h5>
                <p class="card-text">Resultados de Retos del Libro Azul.</p>
                <a href="{{ url_for('HRBBMV') }}" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>
</div>
{% endblock %}